<footer class="footer py-3  footerColor">

<div class="container">
  <div class="row">
     <div class="col col-1 footer-brand">
      <a  href="#">
        <img src="../../assets/images/Music_dj_turntable_vinyl-128.webp" width="50" height="50"  alt="">
      </a>
    </div>
    <div class="col col-3">
      <ul class="footer-list">
        <li class="tituloFooter"><strong>Empresa</strong></li>
        <li class="">Acerca de</li>
        <li class="">Empleo</li>
      </ul>
    </div>
    <div class="col col-3">
      <ul class="footer-list">
        <li class="tituloFooter"><strong>Comunidades</strong></li>
        <li class="">Rockero</li>
        <li class="">Viejo Estilo</li>
      </ul>
    </div>
    <div class="col col-3">
      <ul class="footer-list">
        <li class="tituloFooter"><strong>Enalces utiles</strong></li>
        <li class="">Ayuda</li>
        <li class="">Otras app relacionadas</li>
      </ul>
    </div>
    <div class="col col-2"><p >2021 Musica y Vinilo</p></div>
  </div>
</div>



</footer>

