<div class="row" id="iterablecard">
    <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;" *ngFor="let album of albums, index as i">
        <div class="bg-light border rounded shadow card"><img class="card-img-top" src="alleStudio2.jpg" />
            <div class="card-body">
                <h3 class="card-title" style="font-family: Antic, sans-serif;color: rgb(81,87,94);">Lorem Ipsum</h3>
                <h5 class="card-sub-title" style="font-family: Antic, sans-serif;color: #38ae53;">Webbdesign</h5>
                <p class="card-text" style="  font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>
                <p id="lorem">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn btn-outline-success d-flex align-items-center" id="buttonAlbum{{i}}" type="button" style="font-weight: normal;font-family: Antic, sans-serif;" (click)="detallarAlbum()">Lorem in LinkedIn <i class="bi bi-arrow-bar-right h5 mb-0"></i></button>
            </div>
        </div>
    </div>
</div>