.component-container {
  display: flex;
  flex-direction: column;
}

.list-title {
  padding-right: 5%;
  padding-top: 5%;
}

.list-title p {
  font-size: 3vw;
}

.list-container {
  padding-bottom: 5%;
}

.musician-card {
  overflow: hidden;
  padding: 0;
  display: flex;
}

.band-card {
  overflow: hidden;
  padding: 0;
  display: flex;
}

.card-header-performer {
  padding-left: 5%;
  padding-right: 5%;
  flex: 1;
  padding-top: 5%;
}

.card-description-performer {
  padding-left: 5%;
  padding-right: 5%;
  flex: 2;
  margin-bottom: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 36px;
}

.card-button-performer {
  padding-left: 5%;
  padding-right: 5%;
  flex: 1;
  padding-bottom: 5%;
}

.artist-name {
  font-weight: 800;
  font-family: sans-serif;
  margin: 0;
}

.artist-year {
  font-weight: 400;
  font-family: sans-serif;
  margin: 0;
  color: black;
}

.artist-description {
  font-weight: 400;
  font-family: sans-serif;
  margin: 0 0 10px 0;
  color: black;
  font-size: x-small;
  line-height: 12px;
}

.btn-primary {
  width: 50%;
  background-color: teal !important;
  border-color: teal !important;
}

.btn-primary{
  color: rgb(255, 255, 255) !important;
}

.artist-image {
  height: 15vh;
  object-fit: cover;
  object-position: top;
}

.back-button{
    margin-top: 5%;
    margin-bottom: 5%;
}

.button-modal{
  width: 10em;
  margin-top: 2em;
}
