<div class="component-container">
    <div class="list-container">
        <div class="list-title musician">
            <p>Musicos</p>
        </div>
        <div *ngFor="let musician of musicians" class="col-4 card musician-card">
            <img src={{musician.getImage()}} class='artist-image'>
            <p class="artist-name">{{ musician.getName() }}</p>
            <p class="artist-year">{{ this.formatDate(musician.getBirthDate()) }}</p>
            <p class="artist-description">{{ musician.getDescription() }}</p>
            <button type="button" class="btn btn-primary">Ver detalles</button>
        </div>
    </div>
    <div class="list-container">
        <div class="list-title band">
            <p>Bandas</p>
        </div>
        <div *ngFor="let band of bands" class="col-4 card band-card">
            <img src={{band.getImage()}} class='artist-image'>
            <p class="artist-name">{{ band.getName() }}</p>
            <p class="artist-year">{{ this.formatDate(band.getCreationDate()) }}</p>
            <p class="artist-description">{{ band.getDescription() }}</p>
            <button type="button" class="btn btn-primary">Ver detalles</button>
        </div>
    </div>
</div>