<div class="component-container">
  <button
    class="btn btn-primary button-modal"
    type="button"
    data-toggle="modal"
    data-target="#perfomerCreationModal"
    (click)="modalToggle()"
    i18n
  >
    Agregar Artista
  </button>
  <div class="list-container">
    <div class="list-title musician">
      <h1 i18n>Musicos</h1>
    </div>
    <div class="row">
      <div
        *ngFor="let musician of musicians"
        class="col-lg-3 col-md-5 col-sm-11 card mx-4 my-4 musician-card"
      >
        <img
          src="{{ musician.getImage() }}"
          class="artist-image card-img-top"
          alt="{{ musician.getName() }}"
        />
        <div class="card-header-performer">
          <p class="artist-name">{{ musician.getName() }}</p>
          <p class="artist-year">
            {{ this.formatDate(musician.getBirthDate()) }}
          </p>
        </div>
        <div class="card-description-performer">
          <p class="artist-description">{{ musician.getDescription() }}</p>
        </div>
        <div class="card-button-performer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSelect(musician)"
            i18n
          >
            Ver detalles
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="list-container">
    <div class="list-title band">
      <h1 i18n>Bandas</h1>
    </div>
    <div class="row">
      <div
        *ngFor="let band of bands"
        class="col-lg-3 col-md-5 col-sm-11 card mx-4 my-4 band-card"
      >
        <img
          src="{{ band.getImage() }}"
          class="artist-image card-img-top"
          alt="{{ band.getName() }}"
        />
        <div class="card-header-performer">
          <p class="artist-name">{{ band.getName() }}</p>
          <p class="artist-year">
            {{ this.formatDate(band.getCreationDate()) }}
          </p>
        </div>
        <div class="card-description-performer">
          <p class="artist-description">{{ band.getDescription() }}</p>
        </div>
        <div class="card-button-performer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSelect(band)"
            i18n
          >
            Ver detalles
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<performer-create
  role="dialog"
  tabindex="-1"
  class="modal fade show"
  id="perfomerCreationModal"
  data-backdrop="static"
  aria-hidden="true"
  style="display: none"
  *ngIf="flagModal"
  (cancelEvent)="modalToggle()"
  (finishCreation)="reloadComponent()"
></performer-create>
