<nav class="navbar navbar-expand-lg navbar-light navbarColor">
    <a class="navbar-brand " href="#">
        <img src="../../assets/images/Music_dj_turntable_vinyl-128.webp" width="50" height="50" class="d-inline-block align-middle" alt=""> <span id="tituloPagina">Musica y Vinilos</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto navbarTextColor text-center">
            <li class="nav-item active ">
                <a class="navbarTextColor">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="">Link</a>
            </li>

            <li class="nav-item">
              <a id="collector-navbar-item" class="nav-item nav-link active" routerLink="/collector/list">Coleccionistas</a>
            </li>
        </ul>
        <div>
            <i class="bi bi-cart"></i>
            <span>Bienvenido XXX</span>
            <i class="bi bi-person-circle">

            </i>
        </div>
    </div>
</nav>
