
.card-header :nth-of-type(n+1) {
  background-color: #9fb3bd;
  color: #000066;

  border-radius: 4px;
}

.nota {
  font-weight: 800;
  font-family: sans-serif;
  color: rgb(13, 1, 54);
}

.component-container{
  padding-bottom: 5%;
}

.list-title {
  padding-right: 5%;
  padding-top: 5%;
}
.list-title p {
  font-size: 3vw;
}
