<div class="mt-2 mb-4" *ngIf="albumDetail">
    <div class="row d-sm-flex justify-content-center align-items-sm-center ml-3">
        <div class="col">
            <div class="d-sm-flex align-items-sm-center mt-3 mb-3 h-100">
                <i class="bi bi-caret-left-fill" id="iconBack" style="height: auto;font-size: 53px;color: var(--blue);" (click)="backList()"></i>
                <span class="text-left h-100 ml-3" id="iconBack" style="font-size: 23px;color: var(--blue);" (click)="backList()">Volver</span>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row align-items-center p-5 p-md-3 shadow ml-2 mr-2 ml-md-0 mr-md-0" id="detail-card">
            <div class="col-12 col-md-4 mb-3 mb-md-0"><img id="albumImg" src="{{albumDetail.darPortada()}}" />
            </div>
            <div class="col col-12 d-md-none">
                <hr />
            </div>
            <div class="col-12 col-md-8">
                <h4>{{albumDetail.darNombre()}}</h4>
                <p class="text-primary mb-0" id="boldParagraph">{{stringArtistas()}} / {{albumDetail.darSelloDisco()}}</p>
                <p class="mb-0">{{albumDetail.darFecha() | date:"yyyy"}}</p><span class="badge badge-primary">{{albumDetail.darGenero()}}</span>
                <p class="pt-5">{{albumDetail.darDescripcion()}}</p>
            </div>
        </div>
        <h1 class="text-center mt-4 mb-4">Tracks del Album</h1>
        <div class="alert alert-warning shadow" role="alert" *ngIf="albumDetail.darTracks().length==0">
            oops... Actualmente este album no tiene tracks relacionados.
        </div>
        <div class="table-responsive table table-striped mb-0 shadow" id="tackTable" cellspacing="0" width="100%" *ngIf="albumDetail.darTracks().length>0">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Duración</th>
                    </tr>
                </thead>
                <tbody class="mb-0">
                    <tr *ngFor="let track of albumDetail.darTracks()">
                        <td class="text-center">{{track.darNombre()}}</td>
                        <td class="text-center">{{track.darDuracion()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 class="text-center mt-4 mb-4">Comentarios</h1>

        <div class="alert alert-warning shadow" role="alert" *ngIf="albumDetail.darComentarios().length==0">
            oops... Actualmente este album no tiene comentarios relacionados.
        </div>
        <div *ngIf="albumDetail.darComentarios().length>0">
            <div class="border rounded" *ngFor="let com of albumDetail.darComentarios()">
                <div>
                    <div class="media">
                        <div class="media-body" id="bgNameUser">
                            <div class="media ml-2 mt-2 mb-2" style="overflow:visible;">
                                <div><i class="bi bi-person-circle mr-3" id="iconUser" style="font-size: 34px;"></i></div>
                                <div class="media-body" style="overflow:visible;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="mb-1 mt-1"><span class="text-right">{{com.darRating()}} / 5</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="shadow p-2">
                        <p>{{com.darDescripcion()}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>