.perfomer-card-container {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 5vh;
}

.performer-image-container {
  overflow: hidden;
}
.performer-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.perfomer-image-container {
  overflow: hidden;
  height: 40vh;
}

.artist-name {
  font-weight: 800;
  font-family: sans-serif;
  margin: 0;
  font-size: large;
}

.artist-name {
  font-weight: 800;
  font-family: sans-serif;
  margin: 0;
}

.artist-year {
  font-weight: 400;
  font-family: sans-serif;
  margin: 0;
  color: black;
}

.artist-description {
  font-weight: 400;
  font-family: sans-serif;
  margin: 0 0 10px 0;
  color: black;
  font-size: smaller;
  line-height: 12px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.performer-title-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.performer-title-container span {
  font-size: larger;
  font-weight: 800;
  font-family: sans-serif;
}

.musician-card {
  overflow: hidden;
  padding: 0;
  display: flex;
  margin: 2.5%;
}

.card-header-performer {
  padding-left: 5%;
  padding-right: 5%;
  flex: 1;
  padding-top: 5%;
}

.card-description-performer {
  padding-left: 5%;
  padding-right: 5%;
  flex: 2;
  margin-bottom: 5%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 36px;
}

.card-button-performer {
  padding-left: 5%;
  padding-right: 5%;
  flex: 1;
  padding-bottom: 5%;
}

.back-button {
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn-primary {
  background-color: teal;
  border-color: teal;
}

.button-modal{
  margin-left: 2em;
}
