<div class="component-container">
  <div class="list-container">
    <div class="list-title musician">
      <p>Musicos</p>
    </div>
    <div *ngFor="let artist of artists" class="col-4 card musician-card">
    <img src={{artist.image}} class='artist-image'>
      <p class="artist-name">{{ artist.name }}</p>
      <p class="artist-year">{{ this.formatDate(artist.birthDate) }}</p>
      <p class="artist-description">{{ artist.description }}</p>
      <button type="button" class="btn btn-primary">Ver detalles</button>
    </div>
  </div>
  <div class="list-container">
    <div class="list-title band">
      <p>Bandas</p>
    </div>
    <div *ngFor="let band of bands" class="col-4 card band-card">
        <img src={{band.image}} class='artist-image'>
      <p class="artist-name">{{ band.name }}</p>
      <p class="artist-year">{{ this.formatDate(band.creationDate) }}</p>
      <p class="artist-description">{{ band.description }}</p>
      <button type="button" class="btn btn-primary">Ver detalles</button>
    </div>
  </div>
</div>

<style>
  .component-container {
    display: flex;
    flex-direction: column;
  }
  .list-title {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }
  .list-title p {
    font-size: 3vw;
  }
  .list-container {
    padding: 5%;
  }
  .musician-card {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 30vw;
  }
  .band-card {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 5%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 30vw;
  }
  .artist-name {
    font-weight: 800;
    font-family: sans-serif;
    margin: 0;
  }
  .artist-year {
    font-weight: 400;
    font-family: sans-serif;
    margin: 0;
    color: grey;
  }
  .artist-description {
    font-weight: 400;
    font-family: sans-serif;
    margin: 0 0 10px 0;
    color: grey;
    font-size: small;
  }
  .artist-image{
      height: 50%;
      object-fit: cover;
      object-position: top;
  }
</style>
